/* Apply global font styling */
body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  margin: 100;
  padding: 0;
  background-color: #f9f9f9; /* Light background for a Streamlit-like look */
  color: #333; /* Dark text color for readability */
}

.inputarea {
  width: 500px;
  display: flex;
  justify-content: center;
}

.inputform {
  width: 500px;
}

.inputbox {
  width: 500px;
  height: 30px;
  border: none;
  justify-content: center;
}

.inputbox:focus {
  outline: none;
}
